@import "reset";
@import "variables/global";



#app {
    font: var(--font-family-main);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;

}