.link {

  text-decoration: none;
  color: var(--text-light-color);
  opacity: 1;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;

  &:hover {
    opacity: 0.5;
  }

}

.link.active_link {
  color: var(--active-text-color)
}