.button {

  font-size: 12px;
  color: #fff;
  width: 210px;
  height: 50px;
  padding: 20px 40px 35px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #0315ff;
  text-align: center;
  transition: all 500ms ease 0s;
  border: none;

  &:hover {
    background-color: #dc3545;
  }
}